*{
  font-family: "Arial"
}
hr{
  border: none;
  height: 1px;
  background-color: #ccc;

}
a{
  color: blue;
  text-decoration: none;
}
ul li{
  list-style-type: none;
  background-color: #ccc;
  padding: 3px 10px;
  border-radius: 3px ;
}
ul{
  padding: 0;
  display:flex;
  gap:10px;
}
img{
  max-width: 250px;
}
